/* line 1, ../sass/img_viewer.sass */
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; }

/* line 8, ../sass/img_viewer.sass */
.overviewWS .imgViewer {
  display: inline-block;
  float: left;
  padding: 0px;
  margin: 0px;
  position: absolute;
  height: 100%;
  width: 57%; }
  /* line 16, ../sass/img_viewer.sass */
  .overviewWS .imgViewer div {
    overflow: hidden; }
  /* line 18, ../sass/img_viewer.sass */
  .overviewWS .imgViewer .smallImgsContainer {
    display: inline-block;
    float: left;
    height: 100%;
    width: 40%;
    overflow-y: auto;
    max-width: 300px; }
    /* line 25, ../sass/img_viewer.sass */
    .overviewWS .imgViewer .smallImgsContainer .imgView {
      display: block;
      float: left;
      margin: 3px;
      background-color: whitesmoke;
      text-align: center;
      width: 135px; }
  /* line 32, ../sass/img_viewer.sass */
  .overviewWS .imgViewer .bigImgContainer {
    display: inline-block;
    text-align: center;
    width: 55%; }
    /* line 36, ../sass/img_viewer.sass */
    .overviewWS .imgViewer .bigImgContainer img {
      margin-top: 15px; }
  /* line 38, ../sass/img_viewer.sass */
  .overviewWS .imgViewer img {
    display: inline-block;
    background: transparent;
    margin: 5px; }
/* line 42, ../sass/img_viewer.sass */
.overviewWS .descriptionContainer {
  overflow: hidden;
  overflow-y: auto;
  float: right;
  right: 0px;
  position: absolute;
  height: 100%;
  width: 45%; }
  /* line 50, ../sass/img_viewer.sass */
  .overviewWS .descriptionContainer h1 {
    padding-left: 1%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 26px; }
    /* line 55, ../sass/img_viewer.sass */
    .overviewWS .descriptionContainer h1 span:first-child {
      font-size: 34px;
      padding-left: 10px; }
    /* line 58, ../sass/img_viewer.sass */
    .overviewWS .descriptionContainer h1 span {
      font-size: 26px; }
    /* line 60, ../sass/img_viewer.sass */
    .overviewWS .descriptionContainer h1 span.date {
      font-size: 16px;
      padding-left: 10px;
      color: grey; }
  /* line 64, ../sass/img_viewer.sass */
  .overviewWS .descriptionContainer p {
    font-size: 14px;
    padding-right: 20px; }
  /* line 67, ../sass/img_viewer.sass */
  .overviewWS .descriptionContainer h2 {
    font-size: 20px;
    margin-bottom: 0px;
    color: grey; }
    /* line 71, ../sass/img_viewer.sass */
    .overviewWS .descriptionContainer h2 p {
      font-size: 16px; }
  /* line 73, ../sass/img_viewer.sass */
  .overviewWS .descriptionContainer ul {
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 90%; }
    /* line 80, ../sass/img_viewer.sass */
    .overviewWS .descriptionContainer ul li {
      display: inline-block;
      width: 100%; }
      /* line 83, ../sass/img_viewer.sass */
      .overviewWS .descriptionContainer ul li h3, .overviewWS .descriptionContainer ul li h4 {
        display: inline; }
      /* line 85, ../sass/img_viewer.sass */
      .overviewWS .descriptionContainer ul li h3 {
        float: left; }
      /* line 87, ../sass/img_viewer.sass */
      .overviewWS .descriptionContainer ul li h4 {
        float: right; }
