/* line 1, ../sass/img_viewer.sass */
body {
  padding: 0px;
  margin: 0px; }

/* line 5, ../sass/img_viewer.sass */
.imgViewer {
  padding: 0px;
  margin: 0px;
  background-color: grey;
  position: absolute;
  height: 100%;
  width: 100%; }
  /* line 12, ../sass/img_viewer.sass */
  .imgViewer img {
    display: block;
    background: transparent;
    position: absolute; }
