body
    padding: 0px
    margin: 0px
    height: 100%
    width: 100%

.overviewWS
    .imgViewer
        display: inline-block
        float: left
        padding: 0px
        margin: 0px
        position: absolute
        height: 100%
        width: 60%
        div
            overflow: hidden
        .smallImgsContainer
            display: inline-block
            float: left
            height: 100%
            width: 40%
            overflow-y: auto
            max-width: 300px
            .imgView
                display: block
                float: left
                margin: 3px
                background-color: whitesmoke
                text-align: center
                width: 135px
        .bigImgContainer
            display: inline-block
            text-align: center
            width: 55%
            img
                margin-top: 15px
        img
            display: inline-block
            background: transparent
            margin: 5px
    .descriptionContainer
        background-color: grey
        overflow: hidden
        overflow-y: auto
        float: right
        right: 0px
        position: absolute
        height: 100%
        width: 45%