body
    padding: 0px
    margin: 0px
    height: 100%
    width: 100%

.imgViewer
    display: inline
    padding: 0px
    margin: 0px
    background-color: grey
    position: absolute
    height: 100%
    width: 100%
    .smallImgsContainer
        background-color: black
        display: inline-block
        float: left
        height: 100%
        width: 25%
        max-width: 300px
        .imgView
            display: block
            float: left
            margin: 5px
            background-color: whitesmoke
            text-align: center
            width: 140px
    .bigImgContainer
        float: right
        display: inline-block
        text-align: center
        width: 75%
    img
        display: inline-block
        background: transparent
        margin: 5px

